<div class="col-md-12">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button> <a class="navbar-brand" href="/admin#/dashboard">Library</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					 <a href="" class="dropdown-toggle" data-toggle="dropdown">Books<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/admin#/add-book">Add a Book</a>
						</li>
						<li>
							<a href="/admin#/all-books"> Manage Books</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/admin#/view-borrowed"> Borrowed Books</a>
						</li>
						<li>
							<a href="/admin#/view-available"> Available Books</a>
						</li>



					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					 <a href="" class="dropdown-toggle" data-toggle="dropdown">Borrowers<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/admin#/view-students"> Students</a>
						</li>
						<li>
							<a href="/admin#/view-teachers"> Teacher</a>
						</li>
					</ul>
				</li>

			</ul>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					 <a href="" class="dropdown-toggle" data-toggle="dropdown"> Requests <strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/admin#/approved-book-requests">Approved Book Request</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/admin#/book-requests">Borrow Request</a>
						</li>
						<li>
							<a href="/admin#/account-requests">Account Request</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/admin#/view-records" >View Records</a>
				</li>
				<li>
					<a href="/admin#/search-book" >Search a Book</a>
				</li>
			</ul>

			<div class="nav navbar-nav" style="float:right;">
				<li>
					<a href="/logout" style="margin-right:10px;">Logout</a>
				</li>
			</div>
		</div>

	</nav>
</div>
